<% @users.each do |user| %>
  <a href=<%= "show/?id=#{user.id}"%>>
  photo: <img src=<%= user.photo %>><br>
  Name: <%= user.name %><br>
  Number of posts: <%= user.posts_counter.to_i %><br>
  </a>
<% end %>
