<% @users.each do |user| %>
  <a href=<%= "users/show/?id=#{user.id}"%>>
  <%= image_tag(user.photo, width:'150px', height:'200px') %><br>
  <%= user.name %><br>
  Number of posts: <%= user.posts_counter.to_i %><br>
  </a>
<% end %>
