<div>
<section>
  <% @users.each do |user| %>
    <%= image_tag(user.photo, width:'150px', height:'200px') %>
    <h1><%= link_to user.name, user_path(user) %></h1>
    <p>Number of posts: <%= user.posts_counter.to_i %></p>
  <% end %>
</section>
</div>