body {
  margin: 0;
  padding: 20px;
  font-size: 1.2vw;
}

.btn-con {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

.posts-btn {
  text-decoration: none;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

.post-btn {
  text-decoration: none;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

.post-text {
  font-weight: lighter;
}

.comments-con {
  display: flex;
  align-items: center;
}

.comments-con p {
  margin-left: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
}

table {
  width: 100%;
}

table tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.label {
  padding: 10px;
}

.form-group table td {
  display: flex;
  justify-content: center;
}

.post-input {
  width: 50%;
  padding: 10px;
}

.user-card-2 {
  font-size: 0.8vw;
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
}

.submit-button {
  text-decoration: none;
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.show-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.show-stats {
  display: flex;
  font-size: 1.1vw;
}

.show-stats p {
  margin-left: 15px;
}

.like {
  border: 0;
  background-color: #fff;
}

.like-p {
  display: flex;
  align-items: center;
  font-size: 1vw;
}

.like-p p {
  margin-left: 5px;
  font-size: 1vw;
}

.heart-icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  fill: #e01f4f;
}

.heart-icon:hover {
  fill: rgb(228, 90, 90);
}

.heart-icon:active {
  fill: blue;
  width: 25px;
  height: 25px;
}

.show-comments-con {
  border: 1px solid green;
  border-radius: 5px;
  padding: 15px;
  margin-top: 5px;
}

.show-con {
  border: 1px solid green;
  border-radius: 5px;
  padding: 15px;
}

.submit-show-button {
  text-decoration: none;
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.form {
  border: 1px solid green;
  border-radius: 5px;
  padding: 15px;
}

.comment-c {
  display: flex;
  flex-direction: column;
}

.comment-input {
  width: 90%;
  padding: 10px;
}

.user-con {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
  border-radius: 10px;
  margin-left: 10px;
  padding: 20px;
  width: 80%;
}

.user-img {
  border-radius: 10px;
}

.user-posts {
  margin-left: 20px;
}

.a-primary {
  text-decoration: none;
  color: black;
}

.a-primary:hover {
  color: blue;
}

.show-section {
  width: 100%;
}

.user-bio {
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
}

.user-card {
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
}

.user-c-p {
  display: flex;
  justify-content: flex-end;
}

.user-c-p p {
  margin-right: 25px;
  font-weight: bold;
}

.new_user,
.cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user_email,
#user_password,
input[type=submit] {
  width: 75%;
  height: 2rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  color: #000;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 700;
}

input[type=text],
input[type=password],
textarea,
button {
  width: 75%;
  height: 2rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  color: #000;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 700;
}

textarea {
  height: 4rem;
}

input[type=submit],
button {
  box-shadow: 3px 2px;
}

.actions,
.button_to {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
