body {
    margin: 0;
    padding: 20px;
    font-size: 1.2vw;
}

.user-con {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid green;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px;
    width: 80%;
}

.user-img {
    border-radius: 10px;
}

.user-posts {
    margin-left: 20px;
}

.a-primary {
    text-decoration: none;
    color: black;
}

.a-primary:hover {
    color: blue;
}

.show-section {
    width: 100%;
}

.user-bio {
    border: 1px solid green;
    border-radius: 10px;
    padding: 20px;
}

.user-card {
    border: 1px solid green;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
}

.user-c-p {
    display: flex;
    justify-content: flex-end;
}

.user-c-p p {
    margin-right: 25px;
    font-weight: bold;
}
